<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="shared-styles.html">

<dom-module id="library-view">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
    </style>

    <div class="card">
      <h1>Library <span><paper-icon-button icon="my-icons:add-box" drawer-toggle></paper-icon-button></span></h1>
        <template is="dom-repeat" items="[[library]]">
          <div class="horizontal-section">
            <h2><a target="_blank">[[item.snippet.title]]</a></h2>
            <iron-image src="[[item.snippet.thumbnails.high.url]]" width="256" height="256" sizing="cover" preload fade></iron-image>
            <p>[[item.snippet.description]]</p>
          </div>
        </template>
    </div>

    
    <iron-ajax
        id="getLibrary"
        url="/api/library"
        params='{"type":"all"}'
        handle-as="json"
        last-response="{{library}}">
    </iron-ajax>
  </template>

  <script>
    Polymer({
      is: 'library-view'
    });
  </script>
</dom-module>
